.backgroundImage {
  // background-image: url('../../assets/images/green_dawn.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/red_dawn.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/red_dawn_2.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nilblock.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nulllrok.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nulllbok.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nexoliths.png'); // Adjust the pathn_2according to your project structure
  // background-image: url('../../assets/images/nexoliths_2.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nexoliths_3.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nexoliths_4.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nexoliths_5.png'); // Adjust the path according to your project structure
  background-image: url('../../assets/images/nex_gate.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nowhere_bridge.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/forrest.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/world_0.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/darkmoon.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/crystal_conduit.png'); // Adjust the path according to your project structure


  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}


.buttonsContainer {
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 5%;
  gap: 10%;
  right: 2.5%;
  z-index: 12;

  @media screen and (max-width: 768px) {
    bottom: 2%; /* Adjust bottom position for small/mobile screens */
    right: 2%; /* Adjust right position for small/mobile screens */
    gap: 5%; /* Decrease gap between buttons for small/mobile screens */
  }
}

