.backgroundImage {
  // background-image: url('../../assets/images/green_dawn.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/red_dawn.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/red_dawn_2.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nilblock.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nulllrok.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nulllbok.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nexoliths.png'); // Adjust the pathn_2according to your project structure
  background-image: url('../../assets/images/nexoliths_2.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nexoliths_3.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nexoliths_4.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nexoliths_5.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nex_gate.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nowhere_bridge.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/forrest.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/world_0.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/darkmoon.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/crystal_conduit.png'); // Adjust the path according to your project structure


  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

.buttonsContainer {
  align-items: center;
  bottom: 2.5%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  position: absolute;
  right: 2.5%;
  z-index: 12;
}

.echoButton {
  background: linear-gradient(to left, rgba(100, 149, 237, 0.5), rgba(25, 25, 112, 0.5));
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), inset 0 -4px 2px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  display: block;
  margin-bottom: 20px;
  padding: 10px 20px;
  text-align: center;
  transition: all 0.3s ease;


  &:hover, &:focus {
    background: linear-gradient(to right, rgba(65, 105, 225, 0.7), rgba(25, 25, 112, 0.7));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), inset 0 -6px 3px rgba(0, 0, 0, 0.3);
    color: #e0ffff;
  }
}

/* Media query for mobile screens */
@media screen and (max-width: 768px) {
  .buttonsContainer {
    bottom: 20px; // Closer to the bottom for easier thumb reach
    right: 20px; // Adjusted to ensure it doesn't overflow the screen
    flex-direction: row; // Stack buttons vertically
    gap: 20px; // Reduce the gap for compactness
  }

  .echoButton {
    padding: 8px 16px; // Slightly reduce padding for compactness
    // Optionally, adjust font size, button width etc. for better mobile fit
  }
}

