.backgroundImage {
  // background-image: url('../../assets/images/green_dawn.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/red_dawn.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/red_dawn_2.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nilblock.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nulllrok.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nulllbok.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nexoliths.png'); // Adjust the pathn_2according to your project structure
  // background-image: url('../../assets/images/nexoliths_2.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nexoliths_3.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nexoliths_4.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nexoliths_5.png'); // Adjust the path according to your project structure
  background-image: url('../../assets/images/nex_gate.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/nowhere_bridge.png'); // Adjust the path according to your project structure
  // background-image: url('../../assets/images/crystal_conduit.png'); // Adjust the path according to your project structure
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh; // Explicitly set to cover the full view height
  // position: fixed; // Make sure it's fixed and covers the entire viewport
  // top: 0; // Align to the top
  // left: 0; // Align to the left
  // margin: 0;
  // padding: 0;
  overflow: hidden; // Prevent any overflow from causing scroll
}


.buttonsContainer {
  position: absolute;
  bottom: 100px; // Adjust this to ensure it fits within the viewport without causing overflow
  right: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  // Remove padding-top as it might cause the buttons to overflow the viewport height
}

.echoButton {
  background: linear-gradient(to left, rgba(255, 0, 255, 0.3), rgba(128, 0, 128, 0.3));
  // border: 2px solid #ff00ff;
  border-radius: 5px;
  box-shadow:
    0 0 8px #1a1cb5,
    0 0 20px #7DF9FF;
  color: white;
  margin-bottom: 20px;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:not(:first-child) {
    margin-top: 10px;
  }

  &:hover {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba( 26, 28, 181 , 0.35));
    box-shadow:
      0 0 10px #7DF9FF,
      0 0 25px #800080;
  }
}

.hidden {
  visibility: hidden;
}
