@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');

/* Define font styles */
$comic-font: 'Comic Sans MS', sans-serif;
$accent-color: rgba(255, 165, 0, 0.7); /* Lighter Orange for effects */
$background-dark: #000000; /* Black */
// $background-orange: #ff8c00; /* Orange */
$background-orange: rgba(255, 140, 0, 0.5); /* Orange */
$background-light-orange: rgba(255, 140, 0, 0.3); /* Light Orange */

@keyframes flickerGlow {
  0%, 100% {
    box-shadow: 0 0 8px $accent-color, 0 0 20px $accent-color;
  }
  50% {
    box-shadow: 0 0 8px $accent-color, 0 0 20px $accent-color;
  }
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes moveUp {
  from {
    opacity: 1;
    bottom: 60px;
  }
  to {
    opacity: 0;
    bottom: 700px;
  }
}

.chatInputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(to right, $background-dark, $background-orange, $background-light-orange);
  animation: moveGradient 10s ease infinite;
  border-radius: 10px;
  box-shadow: 0 0 8px $accent-color, 0 0 20px $accent-color;
  width: calc(100% - 250px);
}

.chatInput {
  flex-grow: 1;
  margin-right: 8px; // Spacing between input and button
  padding: 10px;
  font-size: 16px;
  border: 2px solid $accent-color;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  font-family: $comic-font;

  &:focus {
    outline: none;
  }
}

.sendButton {
  padding: 10px 15px;
  font-size: 16px;
  background-color: $background-orange;
  border: 2px solid $background-dark;
  border-radius: 5px;
  color: $background-dark;
  font-family: $comic-font;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: darken($background-orange, 10%);
    color: white;
  }
}

.floatingMessage {
  position: fixed;
  bottom: 60px;
  left: 20px;
  padding: 15px 30px;
  background: rgba(255, 140, 0, 0.5); /* Updated to transparent burnt orange */
  border: 2px solid $background-dark; /* Black border */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 10px $accent-color;
  color: white;
  border-radius: 15px;
  font-family: $comic-font;
  animation: moveUp 3s ease-in-out forwards;
}


/* Responsive adjustments for mobile screens */
@media (max-width: 768px) {
  .chatInputContainer {
    padding: 6px;
    width: calc(100% - 100px);
  }
  .chatInput {
    padding: 6px;
    font-size: 14px;
    width: calc(100% - 100px);
  }
  .sendButton {
    padding: 8px 12px;
    font-size: 14px;
  }
  .floatingMessage {
    bottom: 50px;
  }
}

/* Additional considerations for landscape mode */
@media (max-width: 768px) and (orientation: landscape) {
  .chatInputContainer {
    width: calc(100% - 120px);
  }
}

