:root {
  --background-color: #242424; /* Light theme background color */
  --text-color: rgba(255, 255, 255, 0.87); /* Light theme text color */
  --link-color: #646cff; /* Light theme link color */
  --link-hover-color: #535bf2; /* Light theme link hover color */
  --button-background-color: #1a1a1a; /* Light theme button background color */
  --button-hover-border-color: #646cff; /* Light theme button hover border color */
  --background-image: url('../images/light.png');/* Dark theme background image */

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #ffffff; /* Dark theme background color */
    --text-color: #213547; /* Dark theme text color */
    --link-color: #646cff; /* Dark theme link color */
    --link-hover-color: #747bff; /* Dark theme link hover color */
    --button-background-color: #f9f9f9; /* Dark theme button background color */
    --button-hover-border-color: #646cff; /* Dark theme button hover border color */
    --background-image: url('../images/light.png');/* Dark theme background image */
  }
}

body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  place-items: center;
  background-color: var(--background-color);
  color: var(--text-color);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#root {
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

a {
  color: var(--link-color);
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover-color);
}

button {
  background-color: var(--button-background-color);
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--button-hover-border-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.mr20 {
  margin-top: 20px;
}

