@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');

.echoButton, .powerButton {
  position: relative;
  overflow: hidden;
  background: linear-gradient(to left, rgba(100, 149, 237, 0.5), rgba(25, 25, 112, 0.5));
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), inset 0 -4px 2px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 12px 24px;
  text-align: center;
  transition: all 0.3s ease;
  font-family: 'Comic Sans MS', sans-serif;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #87CEFA, 0 0 30px #87CEFA, 0 0 40px #87CEFA, 0 0 55px #87CEFA, 0 0 75px #87CEFA;
  user-select: none; // Prevent text selection

  &:hover, &:focus {
    background-position: right center; // Change the direction of the gradient
    color: #e0ffff;
    text-decoration: none;
  }
}

.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple-effect 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
  pointer-events: none; // Ensure the ripple doesn't interfere with clicking.
}

@keyframes ripple-effect {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.powerButton {
  right: 2.5%;
  bottom: 2.5%;
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 24px;
  z-index: 35;
  // Specific styles for the power button can go here
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .echoButton, .powerButton {
    padding: 8px 16px; // Smaller padding for small screens
    font-size: 14px; // Adjust font size for readability
  }
}

