.echoButton {
  background: linear-gradient(to left, rgba(100, 149, 237, 0.5), rgba(25, 25, 112, 0.5));
  border-radius: 5px;
  box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.2),
    inset 0 -4px 2px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  display: block; // Adjust as needed
  margin-bottom: 20px;
  // padding: 10px 20px;
  text-align: center; // Center the text if the buttons are block elements
  transition: all 0.3s ease;


  &:hover,
  &:focus {
    background: linear-gradient(to right, rgba(65, 105, 225, 0.7), rgba(25, 25, 112, 0.7));
    box-shadow:
      0 4px 8px rgba(0, 0, 0, 0.3),
      inset 0 -6px 3px rgba(0, 0, 0, 0.3);
    color: #e0ffff; // A lighter shade for contrast
  }
}

.echoButtonImg {
  width: 75%; // Set your desired width
  height: auto; // Set your desired height
  // object-fit: contain; // This ensures the image is scaled correctly within the dimensions

  @media screen and (max-width: 768px) {
    width: 50px; // Adjust width for small/mobile screens
    height: 50px; // Adjust height for small/mobile screens
  }
}

