
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/* Define font styles */
$font-family: 'Orbitron', sans-serif;
$heading-font-weight: 700;
$normal-font-weight: 400;
$base-font-size-title: 20px;
$base-font-size: 16px;

/* Theme colors */
$background-dark: #1E2126; // Darker pastel blue-grey
$background-light: #30353E; // Slightly lighter pastel blue-grey
$background-light-2: rgba(48, 53, 62, 0.75); // Transparent lighter background for sidebar
$screen-background-color: #252A31; // Darker pastel blue-grey for screens
$accent-color: #FF5733; // Orange
$text-color: #FF5733; // Orange text color

/* New color scheme for content and echo screens */
$content-background-color: rgba(37, 42, 49, 0.9); // Transparent darker pastel blue-grey background for content
$content-text-color: #FF5733; // Orange text color for content

/* Enhanced Accent Colors for Hover and Active States */
$hover-color: #FF5733; // Orange hover effect color
$active-color: #FF5733; // Orange active effect color

/* New color scheme for sidebar with transparency */
$sidebar-background-color: $content-background-color; // Same background color as content for sidebar
$sidebar-glow-color: $hover-color; // Lighter glow color for sidebar
$sidebar-shadow-color: $hover-color; // Lighter shadow color for sidebar
$sidebar-inset-color: #31353D; // Darker pastel blue-grey inset color for sidebar

/* Animations */
@keyframes holographicEffect {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  background-color: $background-dark;
}

.parentContainer {
  display: flex;
  height: 80vh;
  box-shadow: 0 0 10px $background-dark, inset 0 0 20px $accent-color;
  border-radius: 15px;
  overflow: hidden;
  padding: 20px;
}

.sidebar {
  position: fixed;
  left: 4%;
  height: 70%;
  background: $sidebar-background-color; // Same background color as content for sidebar
  box-shadow: 0 0 20px $sidebar-inset-color, inset 0 0 20px $sidebar-shadow-color; /* Define inset shadow first, then hover shadow */
  display: flex; /* Add display flex */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  flex-direction: column; /* Stack buttons vertically */
  padding: 10px; /* Add minimal padding */
}

.mainScreenContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12%; /* Increased Left padding to ensure content doesn't touch sidebar */
}

/* Applying the new pastel color scheme for screen elements */
.mainScreenContent .echoContent, .mainScreenContent .echoTitle {
  background-color: $content-background-color; /* Transparent darker pastel blue-grey background color for screens */
  color: $content-text-color; /* Orange text color for screens */
  box-shadow: 0 0 20px $hover-color, inset 0 0 20px $content-text-color, 0 0 20px $hover-color; /* Enhanced for minimal glow effect */
  padding: 15px; /* Adjust padding for internal spacing */
  margin-bottom: 15px; /* Space between each content div */
  border-radius: 5px; /* Rounded corners */
}

@media (max-width: 768px) {
  .parentContainer {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    bottom: 0;
    height: 60px;
    overflow-x: auto;
    border-top: 3px solid $accent-color;
    z-index: 5;
    flex: none;
    position: fixed;
  }

  .mainScreenContent {
    margin-bottom: 80px;
    width: 100%;
    padding-left: 0; /* Remove left padding on mobile */
    padding-right: 0; /* Adjusted for mobile view */
  }
}
