@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/* Define font styles */
$font-family: 'Orbitron', sans-serif;
$heading-font-weight: 700;
$normal-font-weight: 400;
$base-font-size-title: 20px;
$base-font-size: 16px;

/* Theme colors */
$background-dark: #0A0F0D;
$background-light: #1A2930;
$background-light-2: rgba(26, 41, 48, 0.75);
$accent-color: #7FFFD4;
$text-color: #E0FFFF;

/* Enhanced Accent Colors for Hover and Active States */
$hover-color: lighten($accent-color, 10%);
$active-color: darken($accent-color, 10%);

/* Animations */
@keyframes neonGlow {
  0%, 100% { text-shadow: 0 0 8px $accent-color, 0 0 20px $accent-color; }
  50% { text-shadow: 0 0 15px $accent-color, 0 0 30px $accent-color; }
}

@keyframes backgroundShift {
  0%, 100% { background-size: 200% 200%; background-position: left bottom; }
  50% { background-size: 200% 200%; background-position: right top; }
}

@keyframes holographicHover {
  0%, 100% { box-shadow: 0 0 8px $accent-color, 0 0 20px $accent-color; }
  50% { box-shadow: 0 0 15px $accent-color, 0 0 30px $accent-color; }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  background-color: $background-dark;
}

.parentContainer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px $background-dark, inset 0 0 20px $accent-color;
  border-radius: 15px;
  overflow: hidden;
  animation: backgroundShift 15s ease infinite;
  padding: 20px;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 80%;
  background: $background-light-2;
  border-right: 3px solid $accent-color;
  box-shadow: inset 0 0 10px $accent-color;
  animation: neonGlow 2s ease-in-out infinite alternate;
  text-align: left;
  padding-left: 20px;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.button, .link, .sidebar li {
  &:hover {
    color: $hover-color;
    animation: neonGlow 2s infinite;
  }
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 60px;
    overflow-x: auto;
    border-top: 3px solid $accent-color;
    z-index: 5;
  }

  .mainContent {
    margin-bottom: 80px;
  }
}

