
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/* Define font styles */
$font-family: 'Orbitron', sans-serif;
$heading-font-weight: 700;
$normal-font-weight: 400;
$base-font-size-title: 20px;
$base-font-size: 16px;

/* Theme colors */
$background-dark: #0A0F0D; /* Darker shade for depth */
$background-light: #1A2930; /* Subtle grey for complexity */
$accent-color: #7FFFD4; /* Aquamarine for mystical energy effects */
$text-color: #E0FFFF; /* Light cyan for readability */

/* Enhanced Accent Colors for Hover and Active States */
$hover-color: lighten($accent-color, 10%);
$active-color: darken($accent-color, 10%);

/* Animations */
@keyframes neonGlow {
  0%, 100% { text-shadow: 0 0 8px $accent-color, 0 0 20px $accent-color; }
  50% { text-shadow: 0 0 15px $accent-color, 0 0 30px $accent-color; }
}

@keyframes backgroundShift {
  0%, 100% { background-size: 200% 200%; background-position: left bottom; }
  50% { background-size: 200% 200%; background-position: right top; }
}

@keyframes holographicHover {
  0%, 100% { box-shadow: 0 0 8px $accent-color, 0 0 20px $accent-color; }
  50% { box-shadow: 0 0 15px $accent-color, 0 0 30px $accent-color; }
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  background-color: $background-dark; /* Updated background color for the entire body */
}

/* New container to ensure content is centered and above the bottom UI */
.contentContainer {
  position: relative;
  max-width: 1200px; /* Adjust based on your content size */
  margin: 0 auto;
  padding: 50px 20px; /* Space from the top and sides */
}

.parentContainer {
  background: $background-light;
  box-shadow: 0 0 10px $background-dark, inset 0 0 20px $accent-color;
  border-radius: 15px;
  overflow: hidden;
  position: fixed;
  top: 2.5%;
  animation: backgroundShift 15s ease infinite;
  padding: 20px;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
  height: 100%;
  background: rgba($background-dark, 0.9);
  border-right: 3px solid $accent-color;
  padding: 20px;
  box-shadow: inset 0 0 10px $accent-color;
  animation: neonGlow 2s ease-in-out infinite alternate;
  z-index: 2;
}

.mainContent {
  margin-left: 25%;
  padding: 20px;
  animation: neonGlow 1.5s ease-in-out infinite alternate;
}

/* Hover effects */
button:hover, a:hover, .sidebar li:hover {
  color: $hover-color;
  animation: neonGlow 2s infinite;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed; /* Adjust for mobile to not overlap with main content */
    width: 100%;
    bottom: 0;
    top: auto;
    height: 60px; /* Adjust based on your bottom UI */
    overflow-x: auto;
    border-top: 3px solid $accent-color;
    z-index: 5; /* Ensure it's above other content */
  }

  .mainContent {
    margin-left: 0;
    margin-bottom: 80px; /* Provide space for the sidebar on mobile */
  }
}

