@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/* Define font styles */
$font-family: 'Orbitron', sans-serif;
$heading-font-weight: 700;
$normal-font-weight: 400;
$base-font-size-title: 20px;
$base-font-size: 16px;

/* Theme colors */
$background-dark: #0A0F0D;
$background-light: #1A2930;
$background-light-2: rgba(26, 41, 48, 0.75); // Original lighter background for sidebar
$screen-background-color: #16232E; // New darker color for screens
$accent-color: #7FFFD4;
$text-color: #E0FFFF;

/* Enhanced Accent Colors for Hover and Active States */
$hover-color: lighten($accent-color, 10%);
$active-color: darken($accent-color, 10%);

/* Animations */
@keyframes neonGlow {
  0%, 100% { text-shadow: 0 0 8px $accent-color, 0 0 20px $accent-color; }
  50% { text-shadow: 0 0 15px $accent-color, 0 0 30px $accent-color; }
}

@keyframes backgroundShift {
  0%, 100% { background-size: 200% 200%; background-position: left bottom; }
  50% { background-size: 200% 200%; background-position: right top; }
}

@keyframes holographicHover {
  0%, 100% { box-shadow: 0 0 8px $accent-color, 0 0 20px $accent-color; }
  50% { box-shadow: 0 0 15px $accent-color, 0 0 30px $accent-color; }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $font-family;
  background-color: $background-dark;
}

.parentContainer {
  display: flex;
  height: 80vh;
  box-shadow: 0 0 10px $background-dark, inset 0 0 20px $accent-color;
  border-radius: 15px;
  overflow: hidden;
  animation: backgroundShift 15s ease infinite;
  padding: 20px;
}

.sidebar {
  position: fixed;
  left: 4%;
  height: 70%;
  background: $background-light-2;
  border-right: 3px solid $accent-color;
  box-shadow: inset 0 0 10px $accent-color;
  animation: neonGlow 2s ease-in-out infinite alternate;
  text-align: left;
  padding-left: 20px;
}

.mainScreenContent {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12%; /* Increased Left padding to ensure content doesn't touch sidebar */
}

/* Applying the new darker color for screen elements */
.mainScreenContent .echoContent, .mainScreenContent .echoTitle {
  background-color: $screen-background-color; /* New darker color for screens */
  box-shadow: 0 0 20px $background-dark, inset 0 0 10px $accent-color, 0 0 30px $accent-color; /* Enhanced for dark glow effect */
  padding: 15px; /* Adjust padding for internal spacing */
  margin-bottom: 15px; /* Space between each content div */
  border-radius: 5px; /* Rounded corners */
}

@media (max-width: 768px) {
  .parentContainer {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    bottom: 0;
    height: 60px;
    overflow-x: auto;
    border-top: 3px solid $accent-color;
    z-index: 5;
    flex: none;
    position: fixed;
  }

  .mainScreenContent {
    margin-bottom: 80px;
    width: 100%;
    padding-left: 0; /* Remove left padding on mobile */
    padding-right: 0; /* Adjusted for mobile view */
  }
}

