img {
  display: block; // Ensures the image is block level to remove extra space below
  height: auto; // Maintains the image's aspect ratio
  max-width: 100%; // Makes the image responsive
}

.characterContainer img {
  // animation: float 4s ease-in-out infinite;
  display: block;
  filter: drop-shadow(0 0 8px rgba(173, 216, 230, 0.4))
          drop-shadow(0 0 20px rgba(240, 248, 255, 0.4));
  height: auto;
  max-width: 100%;
  position: fixed;
  left: 2%;
  top: 20%;
  transform: scaleX(-1); // Reflect the image along the vertical axis
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .characterContainer img {
    max-width: 50%; // Make the image smaller on mobile in portrait orientation
    // Reflect the image along the vertical axis and include the floating animation
    // animation: floatMobilePortrait 4s ease-in-out infinite;
    top: 45%; // Adjust top positioning for mobile in portrait orientation
    right: auto; // Override any previous right positioning
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .characterContainer img {
    max-width: 30%; // Further reduce the image size for landscape orientation
    top: 25%; // Adjust top positioning for landscape orientation
    // Reflect the image along the vertical axis and include the floating animation
    right: auto; // Override any previous right positioning
  }

}

