@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

/* Font and Color Variables */
$orbitron-font: 'Orbitron', sans-serif;
$accent-color: rgba(204, 153, 255, 0.35); // Soft glow color
$base-dark: rgba(26, 26, 81, 0.9); // Dark transparent blue-purple-pink background
$background-light: rgba(51, 51, 153, 0.9); // Darker transparent blue-purple-pink for screens
$text-color: #e0ffff; // Bright white text color

/* Keyframes for animations */
@keyframes flickerGlow {
  0%, 100% {
    box-shadow: 0 0 8px $accent-color, 0 0 20px $accent-color;
  }
  50% {
    box-shadow: 0 0 8px $accent-color, 0 0 20px $accent-color;
  }
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Styling for chat input container */
.chatInputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(to left, $base-dark, darken($base-dark, 5%));
  animation: moveGradient 10s ease infinite;
  border-radius: 10px;
  box-shadow: 0 0 8px $accent-color, 0 0 20px $accent-color;
  font-family: $orbitron-font;
  width: calc(100% - 230px);
}

/* Styling for chat input */
.chatInput {
  flex-grow: 1;
  margin-right: 8px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid $accent-color;
  background-color: transparent;
  color: $text-color;
  font-family: $orbitron-font;

  &:focus {
    outline: none;
  }
}

/* Styling for send button */
.sendButton {
  padding: 10px 15px;
  font-size: 16px;
  background-color: $background-light;
  border: none;
  border-radius: 5px;
  color: $text-color;
  font-family: $orbitron-font;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: $base-dark;
    color: white;
  }
}


@keyframes moveUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000%);
    opacity: 0;
  }
}

/* Styling for floating message */
.floatingMessage {
  position: fixed;
  bottom: 60px;
  left: 20px;
  padding: 15px 30px;
  background: rgba(51, 51, 153, 0.9);
  border: 2px solid $base-dark;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 10px $accent-color;
  color: white;
  border-radius: 15px;
  font-family: $orbitron-font;
  animation: moveUp 3s ease-in-out forwards;
  z-index: 30;
}

/* Responsive adjustments for mobile screens */
@media (max-width: 768px) {
  .chatInputContainer {
    padding: 6px;
  }
  .chatInput {
    padding: 6px;
    font-size: 14px;
  }
  .sendButton {
    padding: 8px 12px;
    font-size: 14px;
  }
  .floatingMessage {
    bottom: 50px;
  }
}

/* Additional considerations for landscape mode */
@media (max-width: 768px) and (orientation: landscape) {
  .chatInputContainer {
    width: calc(100% - 120px);
  }
}

