@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');

/* Define font styles */
$comic-font: 'Comic Sans MS', sans-serif;
$floating-color: rgba(100, 149, 237, 0.7);

/* Animation Keyframes */
@keyframes flickerGlow {
  0%, 100% {
    box-shadow: 0 0 8px rgba(100, 149, 237, 0.4), 0 0 20px rgba(100, 149, 237, 0.4);
  }
  50% {
    box-shadow: 0 0 10px rgba(100, 149, 237, 0.5), 0 0 25px rgba(100, 149, 237, 0.5);
  }
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes moveUp {
  from {
    opacity: 1;
    bottom: 60px;
  }
  to {
    opacity: 0;
    bottom: 700px;
  }
}

.chatInputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(48, 25, 52, 0.6), rgba(255, 194, 113, 0.3));
  animation: moveGradient 10s ease infinite;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(100, 149, 237, 0.5), 0 0 20px rgba(100, 149, 237, 0.5);
}

.chatInput {
  flex-grow: 1;
  margin-right: 8px; // Spacing between input and button
  padding: 10px;
  font-size: 16px;
  border: 2px solid rgba(100, 149, 237, 0.7);
  border-radius: 5px;
  background-color: transparent;
  color: white;
  font-family: $comic-font;

  &:focus {
    outline: none;
  }
}

.sendButton {
  padding: 10px 15px;
  font-size: 16px;
  background-color: transparent;
  border: 2px solid rgba(100, 149, 237, 0.7);
  border-radius: 5px;
  color: white;
  font-family: $comic-font;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: rgba(100, 149, 237, 0.7);
    color: black;
  }
}

.floatingMessage {
  position: fixed;
  bottom: 60px;
  left: 20px;
  padding: 15px 30px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(48, 25, 52, 0.6), rgba(255, 194, 113, 0.3));
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 10px $floating-color;
  color: white;
  border-radius: 15px;
  font-family: $comic-font;
  animation: moveUp 3s ease-in-out forwards;
}

/* Responsive adjustments for mobile screens */
@media (max-width: 768px) {
  .chatInput {
    padding: 8px;
    font-size: 14px;
  }

  .floatingMessage {
    bottom: 50px;
  }
}

/* Additional considerations for landscape mode */
@media (max-width: 768px) and (orientation: landscape) {
  .chatInputContainer {
    padding: 8px;
  }
}

