@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');

/* Define font styles */
$comic-font: 'Comic Sans MS', sans-serif;
$floating-color: rgba(100, 149, 237, 0.7);

/* Animation Keyframes */
@keyframes flickerGlow {
  0%, 100% {
    box-shadow: 0 0 8px rgba(100, 149, 237, 0.4), 0 0 20px rgba(100, 149, 237, 0.4);
  }
  50% {
    box-shadow: 0 0 10px rgba(100, 149, 237, 0.5), 0 0 25px rgba(100, 149, 237, 0.5);
  }
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes moveUp {
  from {
    opacity: 1;
    bottom: 60px;
  }
  to {
    opacity: 0;
    bottom: 400px;
  }
}

.chatInputContainer {
  // position: fixed;
  // bottom: 20px;
  // left: 20px;
  width: calc(100% - 175px); /* Adjust width as needed */
  // z-index: 30;
  padding: 10px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(48, 25, 52, 0.6), rgba(255, 194, 113, 0.3));
  animation: moveGradient 10s ease infinite;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(100, 149, 237, 0.5), 0 0 20px rgba(100, 149, 237, 0.5);
}

.chatInput {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  border: 2px solid rgba(100, 149, 237, 0.7); /* Adjust as needed */
  border-radius: 5px;
  background-color: transparent;
  color: white;
  font-family: 'Comic Sans MS', sans-serif; /* Adjust as needed */

  &:focus {
    outline: none;
    /* Animation for focus state */
  }
}


.floatingMessage {
  position: fixed;
  bottom: 60px;
  left: 20px;
  padding: 5px 10px;
  background-color: $floating-color;
  color: white;
  border-radius: 5px;
  font-family: $comic-font;
  animation: moveUp 3s ease-in-out forwards;
}

/* Responsive adjustments for mobile screens */
@media (max-width: 768px) {
  .chatInputContainer {
    width: calc(100% - 80px);
    // bottom: 0%;
    // left: 2.5 %;
    // padding: 8px;
  }

  .chatInput {
    width: calc(100% - 16px);
    padding: 8px;
    font-size: 14px;
  }

  .floatingMessage {
    bottom: 50px;
  }
}

/* Additional considerations for landscape mode */
@media (max-width: 768px) and (orientation: landscape) {
  .chatInputContainer {
    width: calc(100% - 90px);
    padding: 8px;
  }
}

