
.indexButton, .indexButton2 {
  animation: flickerGlow 2s infinite ease-in-out, moveGradient 10s ease infinite;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(48, 25, 52, 0.5), rgba(25, 25, 112, 0.3));
  background-size: 200% 200%;
  border: none;
  /* Adjust top and bottom corners for a tab shape, with top corners significantly rounded */
  border-radius: 20px 20px 5px 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 10px rgba(0, 255, 255, 0.5);
  color: #e0ffff;
  padding: 10px 20px;
  margin: 0px 5px; /* Space between tabs */
  transition: all 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.indexButton:hover, .indexButton:focus,
.indexButton2:hover, .indexButton2:focus {
  background: linear-gradient(to right, rgba(0, 76, 153, 0.7), rgba(0, 38, 77, 0.7));
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 255, 255, 0.7);
  transform: translateY(-5px);
  color: #ffffff;
}

.echoButtonImg {
  width: 75px;
  height: auto;
  filter: drop-shadow(0 0 8px rgba(173, 216, 230, 0.6))
    drop-shadow(0 0 20px rgba(240, 248, 255, 0.4));
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 12;
}

@media screen and (max-width: 768px) {
  .indexButton, .indexButton2 {
    padding: 8px 16px;
    font-size: 14px;
    // margin: 0 3px;
  }

  .echoButtonImg {
    width: 35px;
  }

  .buttonsContainer {
    gap: 2%;
    top: 78%;
  }
}
 /* Media query for mobile landscape screens */
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .indexButton, .indexButton2 {
    // padding: 8px 16px;
    font-size: 14px;
    // margin: 0 3px;
  }

  .echoButtonImg {
    width: 40px;
  }

  .buttonsContainer {
    gap: 2%;
    top: 85%;
  }
}


