@import '../../../pages/home/index.module.scss';

.echoContainer {
  position: fixed;
  bottom: 50px; // Adjust based on your layout
  left: 50px; // Adjust based on your layout
  width: 300px;
  height: 400px; // Increased height for more screen content
  background-color: rgba($background-dark, 0.8); // Semi-transparent dark background
  border: 1px solid $accent-color;
  z-index: 1002;
  box-shadow: 0 0 20px rgba($black-glow, 0.5);
  display: flex;
  flex-direction: column;

  .echoScreen {
    width: 100%;
    height: 85%; // Most of the space for screen content
    background-color: rgba($accent-color, 0.2); // Light blue with transparency
    color: $text-color;
    padding: 10px;
    overflow-y: auto;
    border-radius: 5px 5px 0 0; // Top corners rounded

    .hud {
      padding: 10px;
      border: 1px solid rgba($accent-color, 0.5);
      border-radius: 5px;
      background: rgba($text-color, 0.1); // Light overlay for readability

      .hudTitle {
        text-align: center;
        color: $accent-color;
        font-size: 1.2em;
        margin-bottom: 10px;
      }

      p {
        margin: 5px 0;
        span {
          font-weight: bold;
        }
      }
    }
  }

  .navButtons {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background: rgba($background-dark, 0.9); // Darker background for buttons

    .navButton {
      color: $accent-color;
      background: transparent;
      border: 1px solid $accent-color;
      padding: 5px 10px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: $accent-color;
        color: $text-color;
      }
    }
  }
}
