@import '../../../pages/home/index.module.scss';

.echoContainer {
  position: fixed;
  z-index: 1002;

  .hudWindow {
    position: fixed;
    top: 2.5%;
    left: 1.5%;
    width: 80%;
    height: 100vh;
    max-height: 85vh;
    background-color: rgba($background-dark, 0.7);
    background-image: linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px), /* Scanlines */
                      linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 100% 4px, 4px 100%; /* Scanline spacing */
    border: 1px solid $echo-border;
    border-radius: 0;
    color: $echo-gray;
    padding: 50px;
    overflow-y: auto;
    box-shadow: inset 0 0 10px rgba($echo-gray, 0.2); /* Inner glow */
    font-family: $batman-font;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: screenFlicker 3s infinite;

    .hudTitle {
      color: $echo-blue;
      font-size: 2em;
      margin-bottom: 20px;
      text-shadow: none;
    }

    p {
      font-size: $base-font-size;
      margin: 10px 0;
      span {
        font-weight: bold;
        color: $echo-blue;
      }
    }

    .bottomLeftInfo, .bottomRightInfo {
      position: absolute;
      bottom: 20px;
      font-size: 0.9em;
      color: $echo-gray;
    }

    .bottomLeftInfo {
      left: 20px;
    }

    .bottomRightInfo {
      right: 20px;
      text-align: right;
    }
  }

  @keyframes screenFlicker {
    0%, 100% { opacity: 1; }
    2%, 4% { opacity: 0.95; }
    6% { opacity: 1; }
  }

  .verticalNavbar {
    position: fixed;
    top: 10%;
    width: 150px;
    right: 2.5%;
    display: flex;
    flex-direction: column;

    .navButton {
      width: 100%;
      height: 50px;
      color: $echo-gray;
      background: rgba($echo-gray, 0.1);
      border: none;
      border-bottom: 1px solid $echo-border;
      font-size: 16px;
      text-align: center;
      padding-left: 10px;
      cursor: pointer;
      transition: all 0.3s ease;
      margin-bottom: 10px;

      &:hover {
        background: $echo-blue;
        color: $background-dark;
      }

      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
  }

  .nexus {
    display: flex;
    flex-direction: column;
    align-items: center;

    .walletInfo {
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
    }

    .nexusActions {
      display: flex;
      gap: 10px;
      margin: 20px 0;

      button {
        background: none;
        border: 1px solid $echo-gray;
        color: $echo-gray;
        padding: 5px 10px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-color: $echo-blue;
          color: $background-dark;
        }
      }
    }
  }

  .settingsScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .button {
      color: $echo-gray;
      border: 1px solid $echo-gray;
      background: transparent;
      padding: 10px 20px;
      font-size: $base-font-size;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
      border-radius: 0;

      &:hover {
        background-color: $echo-blue;
        color: $background-dark;
      }
    }
  }
}
