@import '../../../pages/home/index.module.scss';

.echoContainer {
  position: fixed;
  z-index: 1002;

  .hudWindow {
    position: fixed;
    top: 2.5%;
    left: 1.5%;
    width: 80%;
    height: 100vh;
    max-height: 85vh;
    background-color: rgba($accent-color, 0.1);
    border: 2px solid $accent-color;
    border-radius: 10px;
    color: $text-color;
    padding: 50px;
    overflow-y: auto;
    box-shadow: 0 0 30px $black-glow;
    font-family: $batman-font;
    display: flex;
    flex-direction: column;
    align-items: center;

    .hudTitle {
      color: $accent-color;
      font-size: 2em;
      margin-bottom: 20px;
    }

    p {
      font-size: $base-font-size;
      margin: 10px 0;
      span {
        font-weight: bold;
      }
    }

    .bottomLeftInfo, .bottomRightInfo {
      position: absolute;
      bottom: 20px;
      font-size: 0.9em;
      color: rgba($accent-color, 0.7);
    }

    .bottomLeftInfo {
      left: 20px;
    }

    .bottomRightInfo {
      right: 20px;
      text-align: right;
    }
  }

  .verticalNavbar {
    position: fixed;
    top: 10%;
    width: 150px;
    right: 2.5%;
    display: flex;
    flex-direction: column;

    .navButton {
      width: 100%;
      height: 50px;
      color: $text-color;
      background: rgba($accent-color, 0.1);
      border: none;
      border-bottom: 2px solid rgba($accent-color, 0.3);
      font-size: 16px;
      text-align: center;
      padding-left: 10px;
      cursor: pointer;
      transition: all 0.3s ease;
      margin-bottom: 10px;

      &:hover {
        background: $accent-color;
        color: $background-dark;
      }

      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
      }
    }
  }

  .nexus {
    display: flex;
    flex-direction: column;
    align-items: center;

    .walletInfo {
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
    }

    .nexusActions {
      display: flex;
      gap: 10px;
      margin: 20px 0;

      button {
        background: none;
        border: 1px solid $accent-color;
        color: $accent-color;
        padding: 5px 10px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
          background-color: $accent-color;
          color: $text-color;
        }
      }
    }
  }

  .settingsScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .button {
      color: $accent-color;
      border: 2px solid $accent-color;
      background: transparent;
      padding: 10px 20px;
      font-size: $base-font-size;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
      border-radius: 5px;

      &:hover {
        background-color: $accent-color;
        color: $text-color;
      }
    }
  }
}
