@import '../../../pages/home/index.module.scss';

.echoContainer {
  position: fixed;
  z-index: 1002;

  .hudWindow {
    position: fixed;
    top: 50%; // Center vertically
    left: 50%; // Center horizontally
    transform: translate(-50%, -50%); // Adjust to true center
    width: 300px;
    height: 250px;
    background-color: rgba($accent-color, 0.2);
    border: 1px solid $accent-color;
    color: $text-color;
    padding: 10px;
    overflow-y: auto;
    box-shadow: 0 0 20px rgba($black-glow, 0.5);

    .hudTitle {
      text-align: center;
      color: $accent-color;
      font-size: 1.2em;
      margin-bottom: 10px;
    }

    p {
      margin: 5px 0;
      span {
        font-weight: bold;
      }
    }
  }

  .controlWindow {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 200px;
    height: 100px;
    background-color: rgba($background-dark, 0.8);
    border: 1px solid $accent-color;
    box-shadow: 0 0 20px rgba($black-glow, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .controlButton {
      color: $accent-color;
      background: transparent;
      border: 1px solid $accent-color;
      padding: 5px 10px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: $accent-color;
        color: $text-color;
      }
    }
  }

  .settingsScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .button {
      color: $accent-color;
      border: 1px solid $accent-color;
      background: transparent;
      padding: 10px 20px;
      font-size: $base-font-size;
      text-decoration: none;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: $accent-color;
        color: $text-color;
      }
    }
  }
}
