// Add to your existing styles.module.scss

@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');

// Define font styles
$comic-font: 'Comic Sans MS', sans-serif;
$heading-font-weight: 700;
$normal-font-weight: 400;
$base-font-size-title: 24px;
$base-font-size: 18px;

// Animation Keyframes
@keyframes flickerGlow {
  0%, 100% { box-shadow: 0 0 8px #1a1cb5, 0 0 20px #7DF9FF; }
  50% { box-shadow: 0 0 10px #1a1cb5, 0 0 25px #7DF9FF; }
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkCaret {
  from, to { border-color: transparent; }
  50% { border-color: #7DF9FF; }
}

// Base Echo Screen styles
.parentContainer {
  padding-left: 75px;
  padding-top: 75px;
  height: 60%;
  width: 60%;
}

.sidebar {
  width: 10%;
  padding-right: 20px;
  // Apply pulse animation to buttons
  button {
    animation: pulse 2s infinite ease-in-out;
  }
}

// Black-Blue gradient with flickering glow and background movement
.mainScreenContent {
  display: flex;
  flex-direction: row;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(125, 249, 255, 0.3));
  background-size: 200% 200%;
  animation: flickerGlow 2s infinite ease-in-out, moveGradient 10s ease infinite;
  border-radius: 10px;
  box-shadow: 0 0 8px #1a1cb5, 0 0 20px #7DF9FF;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.echoScreen {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba( 26, 28, 181 , 0.35));
  border-radius: 10px;
  box-shadow: 0 0 8px #1a1cb5, 0 0 20px #7DF9FF;
  color: #ffffff;
  height: 100%;
  width: 100%;
  justify-content: center;

  // Apply typing animation to title and content
  .echoTitle, .echoContent {
    display: inline-block;
    overflow: hidden;
    border-right: .15em solid orange; // Adjust as needed
    white-space: nowrap;
    animation: typing 3.5s steps(40, end), blinkCaret .75s step-end infinite;
  }

  // Apply pulse animation to images
  .echoImage, .echoImageSmall {
    animation: pulse 2s infinite ease-in-out;
  }
}

