@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');
/* Define font styles */
$comic-font: 'Comic Sans MS', sans-serif;
$heading-font-weight: 700;
$normal-font-weight: 400;
$base-font-size-title: 24px;
$base-font-size: 18px;

/* Animation Keyframes */
@keyframes flickerGlow {
  0%, 100% {
    box-shadow: 0 0 8px rgba(100, 149, 237, 0.4), 0 0 20px rgba(100, 149, 237, 0.4);
  }
  50% {
    box-shadow: 0 0 10px rgba(100, 149, 237, 0.5), 0 0 25px rgba(100, 149, 237, 0.5);
  }
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkCaret {
  from, to { border-color: transparent; }
  50% { border-color: rgba(100, 149, 237, 0.5); }
}

@keyframes backgroundFade {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.6; }
}

/* Base Echo Screen styles with darker blue theme */
.parentContainer {
  height: 100vh;
  padding-left: 2.5%;
  padding-top: 2.5%;
  width: 65%;
  // display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  padding-right: 20px;
  width: 10%;
  overflow-y: auto;
}

.mainScreenContent {
  animation: flickerGlow 2s infinite ease-in-out, moveGradient 10s ease infinite, backgroundFade 6s ease infinite;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(48, 25, 52, 0.5), rgba(25, 25, 112, 0.3));
  background-size: 200% 200%;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(100, 149, 237, 0.3), 0 0 20px rgba(100, 149, 237, 0.3);
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 100%;
  overflow: hidden;
}

.echoScreen {
  background: linear-gradient(to right, rgba(65, 105, 225, 0.5), rgba(25, 25, 112, 0.35));
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(100, 149, 237, 0.3), 0 0 20px rgba(100, 149, 237, 0.3);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh; /* Set maximum height to 80% of viewport height */
}

.echoTitle,
.echoContent {
  animation: typing 3.5s steps(40, end), blinkCaret 0.75s step-end infinite;
  border-right: 0.15em solid rgba(100, 149, 237, 0.5);
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.echoImage,
.echoImageSmall {
  animation: pulse 2s infinite ease-in-out;
}

// Adjustments for mobile screens across the Echo component, parent containers, and buttons
@media screen and (max-width: 768px) {
  .parentContainer {
    padding: 5px; /* Reduce padding for more space */
    width: auto; /* Adjust width to fit mobile screens */
    height: auto; /* Adjust height based on content */
  }

  .sidebar {
    width: 100%; /* Full width for a horizontal layout or adjust as needed */
    padding-right: 0; /* Remove extra padding */
    display: flex; /* Ensure buttons align correctly */
    justify-content: space-around; /* Distribute buttons evenly */
    button {
      padding: 5px 10px; /* Smaller buttons */
      font-size: 12px; /* Smaller font size for button text */
    }
  }

  .mainScreenContent {
    flex-direction: column; /* Stack elements vertically */
    padding: 10px; /* Reduced padding */
  }

  .echoScreen {
    z-index: 10; /* Ensure it's above other content but adjust according to your layout */
    padding: 10px; /* Reduced padding for the Echo screen */
    max-height: 65vh; /* Limit the height to 70% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling for overflow content */
  }

  .echoImage {
    width: 40%; /* Further reduce the main image size */
    margin: 0 auto; /* Center the image */
  }

  .echoImageSmall {
    width: 25%; /* Further reduce the secondary image size */
    margin: 0 auto; /* Center the image */
  }

  .echoTitle,
  .echoContent {
    font-size: 12px; /* Further reduce font size for titles and content */
    white-space: normal; /* Override any non-wrapping settings for mobile */
    word-wrap: break-word; /* Ensures words can break and wrap */
    overflow-wrap: break-word; /* Ensures content wraps within container */
  }

  .echoButton {
    padding: 8px 16px; /* Adjust padding to make buttons smaller */
    font-size: 12px; /* Smaller text for better readability on small screens */
    margin: 5px 0; /* Adjust margins to ensure buttons don't take too much space */
  }

  /* Adjust echo screen width for portrait mode */
  .echoScreen {
    width: 90%; /* Set width to 90% of viewport width */
    margin: 0 auto; /* Center the echo screen horizontally */
  }
}

 /* Media query for mobile landscape screens */
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .parentContainer,
  .echoScreen {
    max-height: 85vh; /* Limit the height to 70% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling for overflow content */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
}

/* Media query for landscape orientation on mobile devices */
@media screen and (max-width: 768px) and (orientation: landscape) {
  .parentContainer,
  .echoScreen {
    max-height: 80vh; /* Limit the height to 70% of the viewport height */
    overflow-y: auto; /* Enable vertical scrolling for overflow content */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }
}


