@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');

/* Define font styles */
$comic-font: 'Comic Sans MS', sans-serif;
$heading-font-weight: 700;
$normal-font-weight: 400;
$base-font-size-title: 24px;
$base-font-size: 18px;

/* Animation Keyframes */
@keyframes flickerGlow {
  0%, 100% {
    box-shadow: 0 0 8px rgba(100, 149, 237, 0.4), 0 0 20px rgba(100, 149, 237, 0.4);
  }
  50% {
    box-shadow: 0 0 10px rgba(100, 149, 237, 0.5), 0 0 25px rgba(100, 149, 237, 0.5);
  }
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinkCaret {
  from, to { border-color: transparent; }
  50% { border-color: rgba(100, 149, 237, 0.5); }
}

@keyframes backgroundFade {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.6; }
}

/* Base Echo Screen styles with darker blue theme */
.parentContainer {
  height: 100vh;
  padding-left: 2.5%;
  padding-top: 2.5%;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  padding-right: 20px;
  width: 10%;
  overflow-y: auto;
}

.mainScreenContent {
  animation: flickerGlow 2s infinite ease-in-out, moveGradient 10s ease infinite, backgroundFade 6s ease infinite;
  background: linear-gradient(to right, rgba(65, 105, 225, 0.5), rgba(25, 25, 112, 0.3));
  background-size: 200% 200%;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(100, 149, 237, 0.3), 0 0 20px rgba(100, 149, 237, 0.3);
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 100%;
  overflow: hidden;
}

.echoScreen {
  background: linear-gradient(to right, rgba(65, 105, 225, 0.5), rgba(25, 25, 112, 0.35));
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(100, 149, 237, 0.3), 0 0 20px rgba(100, 149, 237, 0.3);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 80vh; /* Set maximum height to 80% of viewport height */
}

.echoTitle,
.echoContent {
  animation: typing 3.5s steps(40, end), blinkCaret 0.75s step-end infinite;
  border-right: 0.15em solid rgba(100, 149, 237, 0.5);
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.echoImage,
.echoImageSmall {
  animation: pulse 2s infinite ease-in-out;
}

/* Adjustments for large screens */
@media screen and (min-width: 1200px) {
  .parentContainer {
    align-items: flex-start; /* Align items to the start */
  }

  .mainScreenContent {
    align-items: flex-start; /* Align items to the start */
  }

  .echoScreen {
    height: auto; /* Allow height to adjust based on content */
    max-height: none; /* Remove maximum height limit */
  }
}

