.menuContainer {
  position: absolute;
  bottom: calc(100% + 10px); /* Position the menu above the button with some spacing */
  right: 0;
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background color */
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow effect */
  padding: 10px;
  z-index: 100;
  display: none; /* Initially hide the menu */
}

.menuContainer.active {
  display: block; /* Show the menu when active */
}

.appButton:hover img {
  filter: brightness(1.5); /* Adjust brightness on hover */
}

