
@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');

/* Animation Keyframes */
@keyframes flickerGlow {
  0%, 100% {
    box-shadow: 0 0 8px rgba(100, 149, 237, 0.4), 0 0 20px rgba(100, 149, 237, 0.4);
  }
  50% {
    box-shadow: 0 0 10px rgba(100, 149, 237, 0.5), 0 0 25px rgba(100, 149, 237, 0.5);
  }
}

@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

@keyframes pulse {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.05); }
}

.menuContainer {
  display: none;
}

/* Menu Container Active State with Black Gradient */
.menuContainer.active {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(48, 25, 52, 0.5), rgba(25, 25, 112, 0.3));
  background-size: 200% 200%;
  animation: flickerGlow 2s infinite ease-in-out, moveGradient 10s ease infinite;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 10px rgba(100, 149, 237, 0.5);
  padding: 20px;
  z-index: 25;
  max-width: 605px;
  gap: 30px;
}

/* App Button Style with Consistent Theme */
.appButton {
  background: linear-gradient(to left, rgba(0, 76, 153, 0.5), rgba(0, 38, 77, 0.5));
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), inset 0 -4px 2px rgba(0, 0, 0, 0.2);
  color: #e0ffff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  transition: all 0.3s ease;
  animation: pulse 2s infinite;
  font-weight: bold;
  min-width: 50px;
  &:hover, &:focus {
    background: linear-gradient(to right, rgba(0, 76, 153, 0.7), rgba(0, 38, 77, 0.7));
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 0 15px rgba(100, 149, 237, 0.7);
    color: #ffffff;
    transform: translateY(-5px);
  }
}

.appButton img {
  max-width: 100%;
  max-height: 40px;
  object-fit: contain;
  filter: drop-shadow(0 0 8px rgba(173, 216, 230, 0.6))
          drop-shadow(0 0 20px rgba(240, 248, 255, 0.8));
  transition: filter 0.3s ease;
}

.appButton:hover img {
  filter: brightness(1.5) drop-shadow(0 0 10px cyan);
}


@media screen and (max-width: 768px) and (orientation: portrait) {
  .appButton {
    min-width: 30px; /* Adjust for better touch targets */
    padding: 12px;
    // min-height: 60 /px; /* Ensures buttons are not too small */
  }
}

