.starsCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  z-index: 1;
}

// Theme-specific styles
.null {
  filter: brightness(1.2) contrast(1.1) saturate(0.9);
}

.matrix {
  filter: hue-rotate(90deg) brightness(1.2);
}


.light {
  filter: brightness(1.2) contrast(1.1) saturate(0.9);
}

