
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; // Ensure it's on top
}

.content {
  position: relative;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  max-width: 80%;
  max-height: 90%;
  overflow-y: auto; // In case the content is too long
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  color: #000;
  font-size: 24px;
  cursor: pointer;
}
